body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



.DataContaner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    margin: 20px auto;
}

.UserImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.Data {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.Blue {
    background-color: #1c8adb;
}

.Red {
    background-color: #dd2427;
}

.Black {
    background-color: #000;
}

a:hover {
    transform: translateY(-3px);
}